* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #2c3e50;
    color: white;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    transition: 0.3s;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.sidebar a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #3d566e;
    transition: 0.3s;
    font-size: 16px;
}

.sidebar a:hover {
    background: #1a252f;
    padding-left: 25px;
    transition: 0.3s;
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

.main-content h1 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #2c3e50;
    font-weight: bold;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1;
    min-width: 220px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin-bottom: 10px;
    font-weight: bold;
}



.card p{
   font-size: 22px;
   font-weight: bold;
}

.logout {
    cursor: pointer;
    display: block;
    padding: 12px;
    text-align: center;
    background: #e74c3c;
    color: white;
    margin-top: 10px;
    border: none;
    width: 100%;
}

.logout:hover {
    background: #c0392b;
}



/* Responsive Design */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }

    .dashboard {
        flex-direction: column;
        align-items: center;
    }

    .card, .dashboard div {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .sidebar {
        width: 180px;
    }

    .main-content {
        margin-left: 180px;
        width: calc(100% - 180px);
    }

    .sidebar a {
        font-size: 14px;
        padding: 10px;
    }
}