  /* Mobile Responsiveness */
  /* @media (max-width: 992px) {
    .navbar-nav {
      text-align: center;
    }
  
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
  } */


  @media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 10px 0;
    }

    .right-section {
        flex-direction: column;
        gap: 5px;
        width: 100%;
        text-align: center;
    }

    .search-form input {
        width: 100%;
        max-width: 250px;
    }

    .logout-btn {
        width: 100%;
        max-width: 250px;
    }
}



/* Responsive Design */
@media (max-width: 600px) {
  .container1 {
    max-width: 90%;
    padding: 30px;
  }

  .container1 h1 {
    font-size: 24px;
  }

  .container1 p {
    font-size: 14px;
  }
}


  

  /* @media (max-width: 768px) {
    .container1 {
      width: 90%;
      padding: 30px;
    }
  
    .container1 h1 {
      font-size: 1.8rem;
    }
  
    .container1 p {
      font-size: 1rem;
    }
  } */